<h2 mat-dialog-title>Add row</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Project key</mat-label>
        <input matInput type="text" [(ngModel)]="data.component.project" (keyup)="setprojectInName(data.component)"/>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Owner</mat-label>
        <input matInput type="text" [(ngModel)]="data.component.owner" (keyup)="filterOwners()" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let optionOwner of filteredOwners" [value]="optionOwner">
            {{optionOwner}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="saveAndAddNewComp()">Save and new</button>
  <button mat-button [mat-dialog-close]="data.component" cdkFocusInitial>Save and close</button>
</mat-dialog-actions>
