button {
  margin-right: 0.5em;
}

.mat-card {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1%;
}

.mat-cell,
.mat-header-cell {
  margin: 0% 0% 0% 0%;
  padding: 1em;
}

.mat-column-latestCoverage,
.mat-column-coverageDifference,
.mat-column-previousCoverage {
  text-align: center;
}

td.mat-column-latestCoverage span,
td.mat-column-coverageDifference span {
  display: inline-block;
  width: 5em;
}

.mat-form-field {
  margin-right: 1em;
}

.mat-icon{
  cursor: pointer;
}
.table-comment {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,.04);
  padding: 0.2em 0.5em;
  border: 1px solid lightgrey;
}
