<h2 mat-dialog-title>Edit json</h2>
<mat-dialog-content class="mat-typography edit-json">
  <h3>Sonar projects</h3>
  <textarea class="popup-textarea" [(ngModel)]="componentsTxt"></textarea>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="componentsTxt" (click)="saveJsonProjects()" cdkFocusInitial>Save and close</button>
</mat-dialog-actions>
