*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** debug boxes
* {
  outline: 1px solid #f00 !important;
}
/* end debug */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 10em;
}

a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
}

button {
  border: 0;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

button:hover {
  transform: scale(1.1);
}

input[type="text"] {
  margin-bottom: 5%;
  box-sizing: border-box;
}

.centered-elems {
  text-align: center;
  padding: 2em;
}

.centered-elems .input-elem label {
  overflow: hidden;
  width: 20%;
  display: block;
  float: left;
  height: 1.7em;
  word-break: break-all;
}

.centered-elems .input-elem input {
  width: 80%;
}
